$snow: #f9f4f5ff;
$honey-yellow: #ffb100ff;
$carolina-blue: rgb(10, 116, 187);
$independence: #34435eff;
$tomato: #fe654fff;

html,
body {
    position: relative;
    margin: 0;
}

body {
    font-family: 'Open Sans', sans-serif;
    color: $independence;
    letter-spacing: 0.05em;
    background-color: $snow;
    position: relative;
    font-weight: 300;
}
.center {
    text-align: center;
}

#blog {
    display: flex;
    justify-content: center;
    #app {
        width: 35vw;
    }
}
