body {
  font-family: 'Noto Sans', sans-serif;
  background-color: whitesmoke;
  letter-spacing: .1em;
  color: #aaa;
}

.jatintiwari {
  padding: 25px 50px;
  a {
    text-decoration: none;
    color: #E84D5B;
  }
  .text-center {
    text-align: center;
  }
  .section {
    display: flex;
    /*justify-content: space-between;*/
    align-items: center;
    .sub-section {
      padding: 0 0 0 0;
      /*-webkit-animation: slideLeft 2s;*/
      vertical-align: top;
      align-self: baseline;
      /*flex: 33;*/
    }
  }
  a.cta {
    transition: .4s linear;
    text-decoration: none;
    display: inline-block;
    padding: 10px 20px;
    margin: 10px;
    text-align: center;
    border-bottom: 2px solid transparent;
    &:hover {
      border-bottom: 2px solid #2BACB5;
    }
  }
  .skills {
    padding: 10px 20px;
    margin: 0;
    text-align: center;
    .skill {
      display: inline-block;
      list-style-type: circle;
      &:before {
        content: "";
      }
    }
  }
  .green {
    color: #2BACB5;
  }
  .red {
    color: #E84D5B
  }
  .introduction {
    /*-webkit-animation: FadeIn .5s;*/
    padding: 50px 0px;
    width: 100%;
    text-align: center;
    font-size: 20px;
  }
}

@-webkit-keyframes slideLeft {
  0% {
    transform: translate3d(50px, 0, 0);
    opacity: 0;
  }
  50% {
    transform: translate3d(0, 0, 0);
  }
  100% {
    transform: translate3d(0, 0, 0);
    opacity: 1;
  }
}

@-webkit-keyframes FadeIn {
  0% {
    opacity: 0;
    transform: scale(.1);
  }
  85% {
    opacity: 1;
    transform: scale(1.05);
  }
  100% {
    transform: scale(1);
  }
}

@media(max-width: 767px) {
  .jatintiwari {
    padding: 10px 10px 100px 10px;
  }
  .introduction {
    text-align: left;
  }
  .section {
    flex-direction: column;
  }
  .section .sub-section {
    flex: 100;
  }
  .skills {
    text-align: left;
  }
  .hidden-mobile {
    display: none;
  }
  a.cta {
    padding: 10px;
    margin: 0 10px;
  }
}