body {
    font-family: "Open Sans", sans-serif;
    letter-spacing: 0.1em;
    color: #aaa;
    background-color: #061b5a;
    position: relative;
    overflow: hidden;
    max-height: 100vh;
}

.jatintiwari {
    padding: 25px 50px;
    display: flex;
    justify-content: center;
    #app {
        width: 40%;
        background-color: #2C3484;
        padding: 50px 10px 20px;
        z-index: 1000;
        box-shadow: 5px 5px 0px 0px #e84d5b;
    }
    a {
        text-decoration: none;
        color: #e84d5b;
    }
    .text-center {
        text-align: center;
    }
    .section {
        display: flex;
        align-items: center;
        padding-bottom: 15px;
        .sub-section {
            padding: 0;
            vertical-align: top;
            align-self: baseline;
        }
    }
    a.cta {
        transition: 0.4s linear;
        text-decoration: none;
        display: inline-block;
        padding: 10px 20px;
        margin: 10px;
        text-align: center;
        // border-bottom: 2px solid transparent;
        &:hover {
            color: #fc9c09;;
        }
    }
    .skills {
        padding-left: 10px;
        margin: 0;
        font-size: 14px;
        .skill{
            padding-left: 10px;
        }
    }
    .red {
        color: #e84d5b;
    }
    .orange {
        color: #fc9c09;
    }
    .white{
        color: #FCFCF4
    }
    .introduction {
        width: 100%;
        text-align: center;
        font-size: 20px;
    }
    .contacts-container {
        display: flex;
        justify-content: center;
    }
    #canvas {
        position: absolute;
        left: 0;
        right: 0;
    }
}

@media (max-width: 960px) {
    body {
        overflow-x: hidden;
        overflow-y: scroll;
    }
    .jatintiwari {
        padding: 10px;
        #app {
            width: 100%;
            padding-top: 0px;
            box-shadow: none;
            background: inherit;
        }
        a.cta {
            padding: 5px;
        }
        .contacts-container {
            font-size: 12px;
        }
        .introduction {
            text-align: left;
        }
        .hidden-mobile {
            display: none;
        }
    }
}
