$snow: #f9f4f5ff;
$white: #ecece4;
$grey: #e7e7e7;
$honey-yellow: #ffb100ff;
$carolina-blue: rgb(10, 116, 187);
$independence: #242C44;
$tomato: #fe654fff;
$grass-green: #87c840;
$purple: #c478f3;
$royal-blue: #142CAC;