@import './responsive.scss';
@import './colors.scss';
@import './utils.scss';
@import './theme.scss';
@import './highlights.scss';

html {
    position: relative;
}
html,
body {
    min-height: 90vh;
    margin: 0;
}

body {
    font-family: 'Merriweather', sans-serif;
    // color: $independence;
    // background-color: $snow;
    letter-spacing: 0.01em;
    font-size: 1em;
    padding-bottom: 2em;
}

p {
    overflow-x: hidden;
}

*:focus-visible {
    user-select: none;
}
a {
    color: $honey-yellow;
    text-decoration: none;
    &[target='_blank'] {
        text-decoration: underline;
        color: $independence;
        &:after {
            content: '⇗';
            font-size: 0.5em;
            vertical-align: super;
        }
    }
}

blockquote {
    margin-left: 0;
    border-left: 5px solid;
    padding: 0 0.5em;
    font-size: 1.5em;
    font-style: italic;
}

#thoughts {
    #app {
        display: flex;
        justify-content: center;
        flex-direction: column;
        align-items: center;
        .articles {
            position: relative;
        }
    }

    .routes {
        .route {
            text-decoration: none;
            display: block;
            margin: 1em 0;
            padding-left: 1em;
        }
    }
}
