@import './colors.scss';
@import './utils.scss';

html.dark {
    .moon {
        visibility: hidden;
    }
}
html.light {
    .sun {
        visibility: hidden;
    }
}

html.light {
    body {
        background-color: $snow;
        color: $independence;
        font-weight: normal;
    }
    footer {
        background-color: $snow;
    }

    code,
    code :not(span) {
        color: $tomato;
    }

    blockquote {
        border-color: $independence;
    }
    #thoughts {
        #app {
            .bg-blue {
                background-color: $snow;
            }
            .border-dark {
                border-color: $independence;
            }
            .border-image-container {
                background: linear-gradient(180deg, $grey 10%, $snow 50%);
            }
            .route {
                color: $carolina-blue;
            }

            .mark {
                background-image: linear-gradient(
                    to right,
                    rgba(255, 225, 0, 0.1),
                    rgba(255, 225, 0, 0.7) 4%,
                    rgba(255, 225, 0, 0.3)
                );
            }
        }
    }

    .quote-container {
        .quotes {
            color: $independence;
            fill: $independence;
        }
    }
}

html.dark {
    body {
        background-color: $independence;
        color: $snow;
        font-weight: lighter;
    }
    strong {
        font-weight: bold;
        text-decoration: underline;
    }
    footer {
        background-color: $independence;
    }
    pre code {
        box-shadow: none;
    }

    code {
        color: $tomato;
    }

    blockquote {
        border-color: $snow;
    }

    a[target='_blank'] {
        color: $honey-yellow;
    }

    .quote-container {
        .quotes {
            color: $snow;
            fill: $snow;
        }
    }

    #thoughts {
        #app {
            .border-dark {
                border-color: $snow;
            }

            a.cta:hover {
                color: $carolina-blue;
            }

            .box-shadow {
                box-shadow: 0px;
            }

            .border-image-container .desc {
                color: $independence;
            }

            .mark {
                background-image: linear-gradient(
                    to right,
                    rgba(102, 255, 0, 0.1),
                    rgba(102, 255, 0, 0.7) 4%,
                    rgba(102, 255, 0, 0.3)
                );
            }
        }
    }
}
