@import './colors.scss';

.box-shadow {
    -webkit-box-shadow: 7px 11px 5px -6px $grey;
    -moz-box-shadow: 7px 11px 5px -6px $grey;
    box-shadow: 7px 11px 5px -6px $grey;
}

.br-radius {
    border-radius: 5px;
}

.br-rad-t {
    border-radius: 5px 5px 0 0;
}
.br-rad-b {
    border-radius: 0 0 5px 5px;
}

.text-center {
    text-align: center;
}

.grey-grad {
    background: linear-gradient(180deg, $grey 10%, $snow 50%);
}

@media (prefers-color-scheme: dark) {
    .grey-grad {
        background: linear-gradient(180deg, $grey 10%, $independence 50%);
    }

    .box-shadow {
        -webkit-box-shadow: 7px 11px 5px -6px $independence;
        -moz-box-shadow: 7px 11px 5px -6px $independence;
        box-shadow: 7px 11px 5px -6px $independence;
    }
}

@media (min-width: 1280px) {
    .font-xxl {
        font-size: 2em;
    }
}
@media (min-width: 991px) and (max-width: 1279px) {
    .font-xxl {
        font-size: 1.5em;
    }
}
@media (min-width: 768px) and (max-width: 991px) {
    .font-xxl {
        font-size: 1.3em;
    }
}
@media (min-width: 120px) and (max-width: 767px) {
    .font-xxl {
        font-size: 1.3em;
    }
}
